body {
    text-align: center;
    font-size: 1.6rem;
}

button {
    margin: 0px auto;
    background-color: #5cd6d6;
    color: whitesmoke;
    text-shadow: 1px 1px 0 #444;
    border-radius: 16px;
    width: 250px;
    height: 80px;
    font-size: 2rem;
}

p {
    margin: 100px;
    font-size: 6rem;
}

.center {
    margin: 0;
    left: 50%;
}

#options {
    text-align: left;
    margin: 70px 140px;
}